[color]
	branch = auto
	status = auto
	diff = auto

[alias]
	lg = log --decorate --graph --oneline
	lgs = log --decorate --graph --oneline --all
	root = rev-parse --show-toplevel

[include]
	path = .gitconfig.user

[pull]
	rebase = true
