[color]
	branch = auto
	status = auto
	diff = auto

[alias]
	l = log --decorate --oneline
	lg = log --decorate --oneline --graph
	lgs = log --decorate --oneline --graph --all
	root = rev-parse --show-toplevel
	aliases = config --get-regexp ^alias

[include]
	path = ~/.gitconfig.user

[pull]
	rebase = true
[init]
	defaultBranch = main
