[color]
	branch = auto
	status = auto
	diff = auto

[alias]
	lg = log --decorate --graph --oneline
	root = rev-parse --show-toplevel

[push]
	default = current

[pull]
	rebase = true

[include]
	path = .gitconfig.user
